@page "/products/{id:int}"
@inject ProductService productService
@if (product == null)
{
    <span>Loading..</span>
}
else
{
    <div class="media">
        <div class="media-img-wrapper">
            <img class="media-img" src="@product.ImageUrl" alt="@product.Title"/>
        </div>
        <div class="media-boty">
            <h2 class="mb-0">@product.Title</h2>
            <p>@product.Description</p>
            <h4 class="price">@product.Price</h4>
        </div>
    </div>
}
@code {
    private Product? product = null;
    [Parameter]
    public int Id { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        product = productService.Products.Find(p => p.Id == Id);
    }
}