.media-img {
   max-height: 200px;
   max-width: 200px;
   border-radius: 6px;
   margin-bottom: 10px;
   transition: transform 0.2s;
}
.media-img:hover {
   transform: scale(1.1);
}

.media-img-wrapper {
   width: 200px;
   text-align: center;
}
.media {
   display: flex;
   align-items: flex-start;
}
.media-body {
   flex: 1;
}
.price {
   color: green;
}
@media (min-width: 1023.98) {
   .media {
      flex-direction: column;
   }
   .media-img-wrapper {
      width: 100%;
      height: auto;
   }
}
